---

- name: Create data dir
  when:
    - minio_create_data_dirs
    - minio_install_server
  ansible.builtin.include_tasks:
    file: data_dir.yml
  loop: "{{ minio_data_dirs }}"
  loop_control:
    loop_var: data_dir

- name: Setup system
  ansible.builtin.include_tasks:
    file: system_setup.yml

- name: Install minio
  when: minio_install_server
  ansible.builtin.include_tasks:
    file: server_install.yml

- name: Install Client
  when:
    - minio_install_client
  ansible.builtin.include_tasks:
    file: client_install.yml

- name: Setup server
  when: minio_install_server
  become: true
  environment:
    HOME: "/home/{{ minio_user }}"
  run_once: true
  ansible.builtin.import_tasks:
    file: server_setup.yml

- name: Setup site replication
  run_once: true
  become: true
  environment:
    HOME: "/home/{{ minio_user }}"
  when:
    - minio_replication_enabled
  ansible.builtin.import_tasks:
    file: site_replication.yml

- name: Fix ownership
  become: true
  ansible.builtin.file:
    path: "/home/{{ minio_user }}/.mc"
    state: directory
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
    recurse: true
