---
- name: Create group
  become: true
  ansible.builtin.group:
    name: "{{ minio_group }}"
    system: true
    state: present

- name: Create user
  become: true
  ansible.builtin.user:
    name: "{{ minio_user }}"
    system: true
    shell: /bin/bash
    create_home: true
    home: "/home/{{ minio_user }}"
    state: present

