MINIO_ROOT_USER={{ minio_api_user }}
MINIO_ROOT_PASSWORD={{ minio_api_password}}
MINIO_VOLUMES="{{ minio_data_dirs | join(' ') }}"

{% if minio_console_enabled %}
MINIO_CONSOLE_ADDRESS=":{{ minio_console_port }}"
{% endif %}
