MINIO_ROOT_USER={{ minio_root_access_key }}
MINIO_ROOT_PASSWORD={{ minio_root_secret_key}}
MINIO_VOLUMES="{{ minio_data_dirs | join(' ') }}"

{% if minio_console_enabled %}
MINIO_CONSOLE_ADDRESS=":{{ minio_console_port }}"
{% endif %}
